<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

      <% if(succes_msg) {  %>

        
        <h1 style="color: rgb(37, 149, 108);text-align: center;"><%=succes_msg   %> !!!</h1>
        <h1 style="color: rgb(111, 185, 158);text-align: center;">Dear <%=sccuees_usr_name     %>Welcome From Dashboard Page !!!</h1>
      <%   }   %>

    <h1 style="color: green;text-align: center;">Welcome From Dashboard Page !!!</h1>
      

</body>
</html>